Pandas

In [16]:
import pandas as pd

In [17]:
series_objeto = pd.Series([1,7,9,13,17,99])
series_objeto

0     1
1     7
2     9
3    13
4    17
5    99
dtype: int64

In [18]:
series_objeto2= pd.Series([4, 7, 8, -2], index = ['alfa', 'beta', 'teta', 'gama'])
series_objeto2

alfa    4
beta    7
teta    8
gama   -2
dtype: int64

Dataframe

In [19]:
disciplinas = {'cursos':['Estatística','Economia','Cálculo','Geometria'],
               'créditos':[90,60,90,40],
               'requisito':[True,False,True,False]}

data = pd.DataFrame(disciplinas)
data

        cursos  créditos  requisito
0  Estatística        90       True
1     Economia        60      False
2      Cálculo        90       True
3    Geometria        40      False

In [20]:
import pandas as pd
nome_cidade = pd.Series(['Maringá','Itabira','Uberlândia',])
populacao = pd.Series([403.063, 120.904, 699.097])

pd.DataFrame({"Cidade": nome_cidade, "População": populacao})

       Cidade  População
0     Maringá    403.063
1     Itabira    120.904
2  Uberlândia    699.097

In [21]:
cidades = ['Maringá', 'Itabira', 'Uberlândia', 'Salvador', 'Fortaleza']
populacao = [403.063, 120.904, 699.097, 2.886698, 2.686612]

In [22]:
populacao_cidades = dict(zip(cidades, populacao))
populacao_cidades

{'Maringá': 403.063,
 'Itabira': 120.904,
 'Uberlândia': 699.097,
 'Salvador': 2.886698,
 'Fortaleza': 2.686612}

In [23]:
type(populacao_cidades)

dict

In [24]:
populacao_cidades['Uberlândia']

699.097

In [25]:
'Maringá' in populacao_cidades

True

In [26]:
'São Carlos' in populacao_cidades

False

In [27]:
populacao_cidades['Vitória'] = 365.855

In [28]:
populacao_cidades

{'Maringá': 403.063,
 'Itabira': 120.904,
 'Uberlândia': 699.097,
 'Salvador': 2.886698,
 'Fortaleza': 2.686612,
 'Vitória': 365.855}

In [29]:
del populacao_cidades['Fortaleza']

In [30]:
populacao_cidades

{'Maringá': 403.063,
 'Itabira': 120.904,
 'Uberlândia': 699.097,
 'Salvador': 2.886698,
 'Vitória': 365.855}